import(data.table)
import(dplyr)

export(subsetEvents)
export(getDataTimePeriod)
export(isLengthNonZero)
export(getFlags)
export(getCounts)
export(getValues)
export(ImputeMissingPatients)
export(addPrefix)
export(addSuffix)
export(formatVariableNames)
export(cleanVarNames)